/* PHASE 4: Footer */

.footer {
  background-color: white;
  width: 900px;
  margin: 0 auto;
  color: #aaa;
}

.footer-copy {
  float: left;
  padding: 10px;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float:left;
  padding: 10px;
}

.footer a {
  font-weight: 400
}

.footer a:hover {
  color: black;
}
